<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/ranking.css">

    <!--responsividade-->
    <link rel="stylesheet" href="/style/responsive.css">

    <!--owl css-->
    <link rel="stylesheet" href="/style/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/style/owl/owl.theme.default.min.css">

    <title>TEAMFLIX</title>
</head>
<body>
    <header>
        <div class="container">
            <h2 class="logo">TEAMFLIX</h2>
            <nav>
                <a href="../index.html">Inicio</a>
                <a href="brasileirao.html">Brasileirão</a>
                <a href="torneios.html">Torneios</a>
                <a href="ranking.html">Ranking</a>
            </nav>
        </div>
    </header>

   
    <div class="ranking">         
        <h3 class="titulo">Ranking</object></h3>  
        <img src="../img/ranking.jpg" alt="Ranking">
        
    </div>           
        

</body>
</html>