<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/torneios.css">

    <!--responsividade-->
    <link rel="stylesheet" href="/style/responsive.css">

    <!--owl css-->
    <link rel="stylesheet" href="/style/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/style/owl/owl.theme.default.min.css">

    <title>TEAMFLIX</title>
</head>
<body>
    <header>
        <div class="container">
            <h2 class="logo">TEAMFLIX</h2>
            <nav>
                <a href="../index.html">Inicio</a>
                <a href="brasileirao.html">Brasileirão</a>
                <a href="torneios.html">Torneios</a>
                <a href="ranking.html">Ranking</a>
            </nav>
        </div>
    </header>

   
    <div class="times">
            
            <h3 class="titulo">Torneios</object></h3>   
                
        
            
        <div class="botoes"></div>
             <ul>
                    <button role="button" class="botao" onclick="window.open('https:/conmebollibertadores.com/', 'target=_blank')"><img src="../img/libertadores.png"></button>
                    <button role="button" class="botao" onclick="window.open('https:/www.cbf.com.br/futebol-brasileiro/competicoes/campeonato-brasileiro-serie-a', 'target=_blank')"><img src="../img/brasileiro.png"></button>
                    <button role="button" class="botao" onclick="window.open('https:/www.cbf.com.br/futebol-brasileiro/jogosdehoje/copa-brasil', 'target=_blank')"><img src="../img/copa-do-brasil.png"></button>
                    <button role="button" class="botao" onclick="window.open('https:/conmebolsudamericana.com/', 'target=_blank')"><img src="../img/CopaSulamericana-Logo-1-360x464.png"></button>
                    <button role="button" class="botao" onclick="window.open('https:/www.fifa.com/tournaments/mens/clubworldcup/qatar2020', 'target=_blank')"><img src="../img/worldcup.png"></button>
                    <button role="button" class="botao" onclick="window.open('https:/copaamerica.com/pt/', 'target=_blank')"><img src="../img/copaamerica.jpg"></button>
                    
                    </ul>
        </div>
                   
            
            </div>
    




    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
    <script src="js/owl/jquery.min.js"></script>
    <script src="js/owl/owl.carousel.min.js"></script>
    <script src="js/owl/setup.js"></script>

</body>
</html>